doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./template.css")
        block link-styleSheet
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet")
        title Amazon.com.mx
    body 
        .background-menu.inactive
        .background-menu-location.inactive
        .background-menu-location_desktop.inactive
        .background-menu-accountList_desktop.inactive
        .background-menu-menuALL_desktop.inactive
        header 
            .navbar
                .navbar_principal
                    .navbar_principal_group1
                        .navbar_principal_group1-menuIcon--Active-Close
                                img.navbar_principal_group1-menuIcon--Active-Close-img.inactive(src="./img/icons/closeWhite.png", alt="")
                        .navbar_principal_group1-menuIcon
                            img(src="./img/icons/menuHamWhite.png", alt="")
                        .navbar_principal_group1-menuIcon--Active.inactive
                            .navbar_principal_group1-menuIcon--Active_header 
                                .navbar_principal_group1-menuIcon--Active_header-account 
                                    p Mi Cuenta 
                                    img(src="./img/icons/menuUsrWhite.png", alt="")
                                .navbar_principal_group1-menuIcon--Active_header-explore 
                                    div Explorar 
                                    p Amazon
                            .navbar_principal_group1-menuIcon--Active_home 
                                h2 Amazon Home
                                img(src="./img/icons/home.png", alt="")
                            .navbar_principal_group1-menuIcon--Active_trends 
                                h2 Tendencias 
                                p Los más vendidos 
                                p lo nuevo 
                                p Productos del momento 
                            .navbar_principal_group1-menuIcon--Active_principals 
                                .title 
                                    p Categorías Principales 
                                    p Para Ti 
                                p Electronicos 
                                p Libros 
                                p Oficina y Papelería
                                .navbar_principal_group1-menuIcon--Active_principals-more
                                    p.navbar_principal_group1-menuIcon--Active_principals-more_p Ver Todo   
                                    img.navbar_principal_group1-menuIcon--Active_principals-more_img(src="./img/icons/arrowDown.png", alt="")
                                .navbar_principal_group1-menuIcon--Active_principals-more--Active.inactive
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Promociones
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Kindle
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Electronicos
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Moda
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Relojes
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Bolsas, Maletas y Accesorios de Viaje
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div VideoJuegos
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Libros
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Peliculas, Series de TV y Musica 
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Hogas, Cocina y Jardín
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Herramientas y Mejoras del Hogar
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    .navbar_principal_group1-menuIcon--Active_Principals-more--Active_minus
                                        div Ver Menos
                                        img(src="./img/icons/upArrowClose.png", alt="")
                            .navbar_principal_group1-menuIcon--Active_programs 
                                .title 
                                    p Programas Y 
                                    p Características 
                                p Ofertas del Dia 
                                p Probar Prime 
                                p Prime Video 
                                p Vender en Amazon 
                                .navbar_principal_group1-menuIcon--Active_programs-more 
                                    p.navbar_principal_group1-menuIcon--Active_programs-more_p Ver Todo
                                    img.navbar_principal_group1-menuIcon--Active_programs-more_img(src="./img/icons/arrowDown.png", alt="")
                                .navbar_principal_group1-menuIcon--Active_programs-more--Active.inactive
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Ofertas del Día
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Probar Prime
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Prime Video
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Vender en Amazon
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_minus
                                        div Ver Menos
                                        img(src="./img/icons/upArrowClose.png", alt="")
                        .navbar_principal_group1-Logo 
                            img(src="./img/logo.png", alt="")
                            span .com.mx
                    .navbar_principal_group2
                        .navbar_principal_group2-account 
                            #userName User 
                                img(src="./img/icons/right-arrowWhite.png", alt="")
                            img(src="./img/icons/menuUsrWhite.png", alt="")
                        img.navbar_principal_group2-account--Active_close.inactive(src="./img/icons/closeWhite.png", alt="")
                        .navbar_principal_group2-account--Active.inactive 
                            .navbar_principal_group2-account--Active_header
                                .navbar_principal_group2-account--Active_header-explore  
                                    div Explorar 
                                    img(src="./img/icons/menuHamWhite.png", alt="")
                                .navbar_principal_group2-account--Active_header-account 
                                    h2 Hola #{user}
                                    p Mi Cuenta 
                            .navbar_principal_group2-account--Active_Orders 
                                .title 
                                    h2 Tus Pedidos 
                                    div Ver Todo
                                .menu 
                                    p Rastrear y administrar Tus pedidos 
                                    p Comprar de nuevo 
                                    p Devolver o reemplazar prodcutos 
                                    p Tarifas y políticas de envío
                                    div Atención al cliente 
                            .navbar_principal_group2-account--Active_myAccount 
                                .title 
                                    h2 Mi Cuenta 
                                    div Ver todo
                                .menu 
                                    p Listas 
                                    p Recomendaciones 
                                    p Historial de navegación 
                                    p Planea y Ahorra 
                                    p Tu membresía Prime 
                                    p Tus Membresías y Suscripciones 
                                    p Ver toda la cuenta 
                            .navbar_principal_group2-account--Active_singOut Salir
                        .navbar_principal_group2-shoppingCart 
                            .navbar_principal_group2-shoppingCart--numberProducts 0
                            img(src="./img/icons/cartWhite.png", alt="")
                .navbar_search 
                    .navbar_search-input 
                        input(type="text" placeholder="Buscar Amazon.com.mx")
                        .navbar_search-input--img
                            img(src="./img/icons/search.png", alt="Search")
                .navbar_moreSections  
                    div 
                        a Tarjetas de Regalo 
                    div 
                        a Promociones 
                    div 
                        a AmazonBasics
                    div 
                        a Comprar de nuevo 
                    div 
                        a Prime 
                    div 
                        a Los más vendidos
                    div 
                        a Buscar un Regalo 
                    div 
                        a Video 
                    div 
                        a Hogar y cocina
                    div 
                        a Libros 
                    div 
                        a Electrónicos 
                    div 
                        a Lo nuevo 
                    div 
                        a Cómputo y Tabletas
                .navbar_address
                    span 
                        img(src="./img/icons/locationWhite.png", alt="")
                    p.navbar_address_selectLocation Enviar a #{User} - #{Location} #{postalCode}
                .navbar_address-Active.inactive
                    .text
                        h2 Elige tu ubicación 
                        p Las opciones y velocidades de envío pueden variar segun la direccion 
                    .options 
                        .optionContainer 
                            .name User Name
                            .address Calle, Numero, Colonia, CP, Ciudad.
                            div Direccion determinada
                        .optionContainer 
                            .name User Name
                            .address Calle, Numero, Colonia, CP, Ciudad.
                        .optionContainer 
                            .name User Name
                            .address Calle, Numero, Colonia, CP, Ciudad.
                        .optionContainer 
                            .name User Name
                            .address Calle, Numero, Colonia, CP, Ciudad.
                        .optionContainer 
                            .name User Name
                            .address Calle, Numero, Colonia, CP, Ciudad.
                        .optionContainer 
                            .mod Modificar direcciones de envio
                    .introducePostalCode 
                        img(src="./img/icons/location.png", alt="")
                        p Introduce un código postal en México
            .navbar-desktop
                .navbar-desktop_principal
                    .navbar-desktop_principal-logo
                        img(src="./img/logo.png", alt="")
                        p .com.mx
                    .navbar-desktop_principal-address 
                        img(src="./img/icons/locationWhite.png", alt="")
                        div 
                            p Enviar a
                            p Ciudad de
                    .navbar-desktop_principal-address--Active.inactive
                        .title-address Elige tu ubicacion 
                        section
                            .info-address Las opciones y velocidades de envio pueden variar segun la direccion.
                            .container-address 
                                .card 
                                    h4 UserName 
                                    p Domicilio, CP, Colonia, Pais.
                                    .pre Direccion Predeterminada 
                                .card 
                                    h4 UserName 
                                    p Domicilio, CP, Colonia, Pais. 
                                .card 
                                    h4 UserName 
                                    p Domicilio, CP, Colonia, Pais. 
                            .config Modificar Direcciones de envío
                            .form-address 
                                .introduce-address 
                                    .lines 
                                        .line 
                                        .line 
                                    .text  o introduce un código postal en México
                                .input-address 
                                    input(type="text")
                                    button Confirmar
                    .navbar-desktop_principal-search
                        input(type="text" placeholder="Buscar en Amazon.com.mx")
                        img(src="./img/icons/search.png", alt="")
                    .navbar-desktop_principal-account
                        p Hola User 
                        div
                            p Cuenta y Lista
                            img(src="./img/icons/arrow-downWhite.png", alt="")
                    .navbar-desktop_principal-account--Active.inactive
                        img(src="./img/icons/upArrowWhite.png", alt="")
                        .comprarDeNuevo
                            h4 Comprar Nuevamente
                            .admin Ver todos y Administrar
                            .producto 
                                img(src="#", alt="")
                                .info 
                                    p Este es un Producto Fachero
                                    .precio $200.00
                                    button Agregar al carrito 
                        .listas 
                            h4 Listas
                            .p1 Lista de Compras 
                            .p2 
                                p Crear una WishList 
                                p Mesa de Regalo de Bebé
                                p Mesa de regalos de Boda
                        .miCuenta
                            h4 Mi Cuenta 
                            p Mi Cuenta 
                            p Mis pedidos 
                            p Mis recomendaciones 
                            p Mi membresía Prime 
                            p Mi Planea y Ahorra 
                            p Membresiías y Subscripciones 
                            p Mi contenido Kindle 
                            p Mi amazon music 
                            p Mi prime video
                            p Cambiar de cuenta
                            p Cerrar seción
                    
                    
                    .navbar-desktop_principal-orders 
                        p Devoluciones 
                        p y Pedidos 
                    .navbar-desktop_principal-cart 
                        div 0
                        img(src="./img/icons/cartWhite.png", alt="")
                        p Carrito 
                .navbar-desktop_menu 

                    .navbar-desktop_menu-btnAll 
                        img(src="./img/icons/menuHamWhite.png", alt="")
                        p Todo 

                    .navbar-desktop_menu-btnAll--Active.inactive 
                        .title
                            img(src="#", alt="")
                            span Hola, ${User}
                        .section 
                            .subtitle Tendencias 
                            p Los más vendidos 
                            p Lo nuevo 
                            p Productos del momento
                        .section 
                            .subtitle Contenido Y Dispositivos Digitales
                            p Amazon Prime Video 
                                span 
                                    img(src="#", alt="")
                            p Echo y Alexa
                                span 
                                    img(src="#", alt="")
                            p Amazon Music
                                span 
                                    img(src="#", alt="") 
                            p Amazon Fire TV 
                                span 
                                    img(src="#", alt="")
                            p E-readers y eBooks Kindle
                                span 
                                    img(src="#", alt="")
                        .section 
                            .subtitle Buscar Por Categoría
                            p Alimentos y Bebidas 
                                span 
                                    img(src="#", alt="")
                            p Libros
                                span 
                                    img(src="#", alt="")
                            p Películas, Series de TV y Música
                                span 
                                    img(src="#", alt="") 
                            p Electronicos 
                                span 
                                    img(src="#", alt="")
                            p.more Ver Todo
                                span 
                                    img(src="#", alt="") 
                        .section 
                            .subtitle Programas Y Características 
                            p Prime 
                            p Ofetas del Día 
                            p Amazon Outlet 
                            p Cupones 
                            p Vender en Amazon 
                            p Planea y Ahorra 
                            p Compra por Edad 
                            p Mesas de Regalos
                        .section 
                            .subtitle Ayuda Y Configuracion
                            p Mi Cuenta 
                            p Ayuda 
                            p Salir 


                    .navbar-desktop_menu-sections 
                        a(href="#") Vender 
                        .prime
                            p Prime 
                            img(src="./img/icons/arrow-downWhite.png", alt="") 
                        a Belleza 
                        a Hogar, Salud y cuidado Personal 
                        a Comprar de nuevo 
                        a Tarjetas de regalo
                        .historial 
                            p Historial de Busqueda 
                            img(src="./img/icons/arrow-downWhite.png", alt="")
                    .navbar-desktop_Menu-banner 
                        img(src="#", alt="Promos")
        block main-principal
        footer 
            .footer  
                a(href="#").footer_start 
                    img(src="./img/icons/upArrowWhite.png", alt="")
                    p INICIO DE PÁGINA
                .footer_seccions 
                    div Amazon de #{User}
                    div Mi cuenta 
                    div Wish List 
                    div Mis artículos vistos recientemente
                    div Devoluciones 
                    div Contáctanos 
                    div Mis Pedidos 
                    div Tu Planea y Ahorra 
                    div Mesa de Regalos 
                    div Vender en Amazon 
                    div Configuracion 1-Clic 
                    div Ayuda 
                .footer_seccionsContainer-desktop
                    .footer_seccion-desktop 
                        .title Conocenos
                        div Trabajar en Amazon 
                        div Información Corporativa
                        div Departamento de prensa 
                        div Amazon Science
                    .footer_seccion-desktop
                        .title Gana Dinero con nosostros
                        div Vender en Amazon
                        div Suministro para Amazon
                        div Protege y desarrolla tu marca 
                        div Vender en Amazon Handmade 
                        div publica tu libro en kindle 
                        div Programa de afiliados 
                        div Anuncia tus productos
                    .footer_seccion-desktop
                        .title Podemos ayudarte 
                        div Amazon y COVID-19 
                        div Devolver o reemplazar productos 
                        div Gestionar contenido y dispositivos 
                        div Ayuda 
                    .footer_seccion-desktop
                        .title Métodos de Pago
                        div Tarjetas de crédito y débito 
                        div Tarjetas de regalo 
                        div Pago en efectivo 
                        div Pago a meses 
                        div Amazon Cash
                .footer_logOut-Out 
                    p Cambiar de Cuenta 
                    p Salir 
                .footer_logOut-desktop  
                    img.logo(src="./img/logo.png", alt="")
                    .paises
                        a(href="#") Australia
                        a(href="#") Alemania 
                        a(href="#") Brasil 
                        a(href="#") Canadá
                        a(href="#") China 
                        a(href="#") España
                        a(href="#") Estados Unidos 
                        a(href="#") Francia 
                        a(href="#") India 
                        a(href="#") Italia 
                        a(href="#") Japón 
                        a(href="#") Países Bajos 
                        a(href="#") Reino Unido 
                        a(href="#") Singapur
                        a(href="#") Turquía
                    div Y tambien: 
                    div 
                        a(href="#") Amazon Web Services
                .footer_logOut-copyRight
                    p Condiciones de Uso 
                    p Aviso de Privacidad 
                    p Valoración
                    p (c) 1996-2023 Amazon.com, Inc. o sus afiliados
    script(src="./dataBase.js") 
    script(src="./template.js") 
    block link-script


